<!DOCTYPE html>
<html lang = "ru">
<head>
  <meta charset = "UTF-8">
  <title>S3FileObjectStorage</title>
  <script src = "/static/script.js"></script>
</head>
<body>
<h1>Список файлов</h1>
<ul>
  {{range .Files }}
    <li><a href="/download?name={{.}}">{{.}}</a></li>
  {{else}}
    <li>Файлы отсутствуют.</li>
  {{end}}
</ul>

<h2>Загрузить файл</h2>
<form enctype="multipart/form-data" action="/upload" method="post">
  <input type="file" id="fileInput" name="file" onchange="toggleSubmitButton()">
  <input type="submit" id="submitButton" value="Загрузить" style="display: none;">
</form>
</body>
</html>